---

---

<footer class="footer p-4 mt-5"> <!--Footer section -->
    
      <div class="card-body text-center"> <!--Card body -->
        <p class="mb-0">Check the Weather 2025 - All rights reserved </p>
        <div class="mt-3">
 
      </div>
    </div>
    </div>
  </footer>