---
import Hamburger from "./Hamburger.astro" //Importing Hamburger for menu //
import Navigation from "./Navigation.astro" //Importing Navigation component //
---
<header> <!--placeholder for header -->
    <nav>  <!--Placeholder for hamburger in mobile menu -->
       <Hamburger />
         <Navigation /> <!--Placeholder for navigation links -->
    </nav>
  </header>