---

---
<div class="nav-links">
<a href="/">Home</a>  <!--Website homepage -->
<a href="/about/">Weather Check</a> <!--Weather check page where users can look up weather in places around the world -->
<a href="/education/">Education</a> <!--Education page, lesson ideas and also links to other websites -->
</div>