---
import Header from '../components/Header.astro';
import '../styles/global.css';


---

<html lang="en">
  <head> 
    <style>
    body {
        font-family: Courier, sans-serif;
        text-align: center;
        color: white;
        font-size: 32px;
        background-color: #032541;
    }
    
    input {
        margin-top: 2rem;
        padding: 1rem;
    }
    
    .weather_description {
        color: white;
        margin-top: 2rem;
    }  
    </style>
  </head>

  <body>
   
<Header />


<h1>What is the weather like today in...</h1>
<input type="text" id="cityInput" name="cityInput" placeholder="Input City" />
 <button>Submit</button>

<h5 id="error"></h5>
<h3 id="city"></h3>
<div id="weather"></div>

<script> import "../scripts/script.js" </script>


</body>


    