---
import Header from '../components/Header.astro';
import '../styles/global.css';
---

<Header />
<h1>Hello</h1>

<section id="intro">
    <div class="row">
      <div class="col p-3 bg-primary text-black"> <h2>About us</h2><div> <p>Welcome to Check the Weather. My name is Emma and I am a  primary school teacher. I have always had an interest in technology and how it can be used in Education to benefit students learning outcomes. Last year I began a course with UCD's Professional Academy called Front End Web Development. As part of my final assignment I had to design a website incorporating all the skills I had learned over the course. </p> <p> In thinking about what would be the focus of my website I thought about how interested my students are in places all over the world.They love learning about new places and so I  decided to create a resource for primary school students to research the weather of different cities around the world.This website provides information in three hour long blocks on the weather check page.</p>On my education page I have created a resouces of a bank of ideas for teachers of activites and links using this website  that could be used to connect to other curricular areas.    </p> </div>
      
      </div>


