---
---

<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
      background-color: white;
      padding: 0.5rem 1rem
    }
  </style>

<footer>
<p> If you enjoy this service, please tell a friend! <br>


</p>
</footer>